@font-face {
    font-family: 'sushi_sanssans';
    src: url('sushi-sans-webfont.woff2') format('woff2'),
        url('sushi-sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}