// Reset
* {
    &::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(128, 137, 150, 0.1);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(128, 137, 150, 0.2);
        border-radius: 10px;
        &:hover {
            background-color: rgba(128, 137, 150, 0.6);
        }
    }
}
body {
    font-size: $base-fz;
    font-family: $primary-ff;
    line-height: 1.5;
    font-weight: normal;
    color: $text-clr;
    background-color: $white-clr;
    overflow-x: hidden;
}
ul,
ol {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        text-decoration: none;
    }
}
a,
button,
input,
textarea,
select {
    &:focus,
    &:hover,
    &:active {
        outline: none;
        box-shadow: none;
    }
}
img {
    max-width: 100%;
}
section {
    position: relative;
}
